<fusioncharts
  *ngIf="dataFileService.data"
  [width]="width"
  [height]="height"
  [type]="type"
  [dataFormat]="dataFormat"
  [dataSource]="dataSource1"
>
</fusioncharts>

<fusioncharts
  *ngIf="dataFileService.data"
  [width]="width"
  [height]="height"
  [type]="type"
  [dataFormat]="dataFormat"
  [dataSource]="dataSource2"
>
</fusioncharts>

<fusioncharts
  *ngIf="dataFileService.data"
  [width]="width"
  [height]="height"
  [type]="type"
  [dataFormat]="dataFormat"
  [dataSource]="dataSource3"
>
</fusioncharts>

<fusioncharts
  *ngIf="dataFileService.data"
  [width]="width"
  [height]="height"
  [type]="type"
  [dataFormat]="dataFormat"
  [dataSource]="dataSource4"
>
</fusioncharts>
